@import '../library.scss';

.reactions-wrapper {
    @include d-flex($fd: row-reverse);
    @extend .hover;
    position: absolute;
    bottom: -10px;
    left: 5px;
    background-color: rgb(226, 226, 226);
    padding: 2px 5px;
    border-radius: 15px;
    z-index: 44;

    .reaction-preview {
        @include d-flex();
    }

    p {
        color: black !important;
    }
}

.reactions-detail {
    @include d-flex($jc: flex-start, $fd: column, $g: 5px);
    padding: 5px;
    max-height: 100px !important;
    overflow-y: scroll;

    .reaction-detail {
        @include d-flex($jc: flex-start, $g: 5px);
        width: 100%;
    }
}

.reactions-detail::-webkit-scrollbar {
    display: none;
}

.my-msg {
    flex-direction: row;
    left: unset;
    right: 5px;
}