<div class="header-wrapper">
    <div class="left-side">
        <div class="header-button" (click)="toggleSideMenu()">
            @if (mainService.sideMenuOpen) {
            <app-side-menu-button style="transform:rotate(180deg)"></app-side-menu-button>
            } @else {
            <app-side-menu-button></app-side-menu-button>
            }
        </div>
        <app-search [searchType]="'search'"></app-search>
    </div>

    <div class="right-side">
        <app-theme-picker></app-theme-picker>

        <div class="header-button" (click)="showThemesPicker()">
            <app-color-picker></app-color-picker>
        </div>

        <div class="chat-name" (click)="openProfile()">
            @if (getScreenWidth()) {
                <p>{{ authService.currentUser.username }}</p>
            } @else {
                <app-profile></app-profile>
            }
        </div>
    </div>
</div>