<div class="header-wrapper">
    <div class="left-side">
        <div class="close-side-menu card" (click)="toggleSideMenu()">
            @if (mainService.sideMenuOpen) {
                <img src="assets/img/close_side_menu.svg">
            } @else {
                <img src="assets/img/open_side_menu.svg">
            }
        </div>
            <app-search [searchType]="'search'" ></app-search>
    </div>

    <div class="card chat-name" (click)="openProfile()">
        {{ authService.currentUser.username }}
    </div>
</div>