<div class="card">
    <div class="header">
        <p>Profile</p>
        <img (click)="mainService.closePopups()" src="assets/img/close_icon.svg" alt="">
    </div>
    
    <div class="picture-wrapper">
        <div class="file-picker-wrapper">
            <app-file-picker (newPicture)="uploadImg($event)"></app-file-picker>

            <img src="{{authService.currentUser.picture}}" alt="">
        </div>
    </div>

    <div class="details">

        <p>{{ authService.currentUser.username }}</p>

        <div class="online-status">
            <div class="online-circle"></div>
            <p>Active</p>
        </div>

        <div class="email-adress">
            <div class="upper">
                <img src="assets/img/mail_icon.svg" alt="">
                <p>E-Mail Adress</p>
            </div>
            <a href="mailto:elijah@mail.com" class="e-mail">
                {{ authService.currentUser.email }}
            </a>
        </div>
    </div>
    <div class="button-wrapper">
        <button class="button1" (click)="logout()">Logout</button>
    </div>
</div>