<div class="input-wrapper">
    <div class="msg-input">
        <input type="text" [disabled]="disabled" #myInput (keydown.enter)="sendMsg()" [(ngModel)]="inputContent"
            placeholder="Type a message...">
        <!-- {{ myInput.focus() }} -->
        <img class="img-button" (click)="openEmojiPicker()" src="assets/img/smile_icon.svg" alt="">
    </div>
    <div class="sendbutton" [ngClass]="{'disabled': disabled}" (click)="sendMsg()">
        <img src="assets/img/send_icon.png" alt="">
    </div>
</div>

<app-emoji-picker #picker *ngIf="showEmojiPicker" (newEmoji)="typeEmoji($event)"></app-emoji-picker>