@import '../library.scss';

.input-wrapper {
    @include center($jc: space-between);
    gap: 15px;

    .msg-input {
        @include d-flex($jc: space-between, $g: 5px);
        background-color: $color5;
        height: 50px;
        width: 100%;
        border-radius: 25px;
        padding: 15px;

        input {
            width: 100%;
            height: 100%;
            border: 0;
            outline: 0;
            color: grey;
            background-color: transparent;
        }
    }

    .sendbutton {
        min-height: 50px;
        min-width: 50px;
        max-height: 50px;
        max-width: 50px;
        background-color: $color4;
        border-radius: 50%;
        @include d-flex();
        @extend .hover;

        img {
            filter: invert(1);
            margin-left: 3px;
            max-height: 25px;
            max-width: 25px;
        }
    }
}

.img-button {
    background-color: white;
    height: 35px;
    margin-right: -5px;
}

.file-picker-wrapper {
    position: relative;
    @include d-flex();

    &:hover img {
        filter: brightness(.9);
    }

    img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0;
    }

    app-file-picker {
        z-index: 1;
        opacity: 0;
        @include pos-center($pos: absolute);
        height: 100%;
        width: 100%;
    }
}