<div class="card" [ngSwitch]="addMembers">
    <div class="header">
        <p *ngSwitchCase="false">Create a channel</p>
        <p *ngSwitchCase="true">Add members</p>
        <img class="img-button" (click)="mainService.closePopups()" src="assets/img/close_icon.svg" alt="">
    </div>

    <div class="content" *ngSwitchCase="false">
        <p>
            Channels serve your team for communication. Ideally, they should be topic-specific, for example, #marketing.
        </p>

        <div class="new-channel-input">
            <p>Channel Name</p>
            <input type="text" class="input" required placeholder="e.g. Development Team" [(ngModel)]="newChannel.name">
        </div>

        <div class="new-channel-input">
            <p>Description</p>
            <input type="text" class="input" placeholder="Your description" [(ngModel)]="newChannel.description">
        </div>
    </div>

    <div class="content" *ngSwitchCase="true">
        <label>
            <input type="radio" name="radio" [value]="true" [(ngModel)]="addAllMembers">
            Add all members of chat app
        </label>
        <label>
            <input type="radio" name="radio" [value]="false" [(ngModel)]="addAllMembers">
            Add certain members
        </label>
        <input *ngIf="!addAllMembers" type="text" class="input" placeholder="Search members">
    </div>

    <div class="button-wrapper">
        <button class="button1" (click)="addMembers = true" *ngSwitchCase="false" [disabled]="!newChannel.name"
            [class.disabled]="!newChannel.name">Next</button>

        <button class="button1" *ngSwitchCase="true" (click)="addMemberToChannel()"
            [class.disabled]="!addAllMembers || selectedMembers.length > 0"
            [disabled]="!addAllMembers || selectedMembers.length > 0">Create</button>
    </div>
</div>