@import "../library.scss";

.emoji-wrapper {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    background-color: rgb(231, 231, 231);
    padding: 5px;
    // border-radius: 15px;
    @extend .border-radius;

    input {
        border: 0;
        padding: 10px;
        outline: none;
        color: black;
        // border-radius: 15px;
        @extend .border-radius;
    }
}

.emoji-display {
    @include d-flex($jc: space-between, $g: 5px);
    padding: 5px 0;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    // display: flex;
    // justify-content: flex-start;
    // flex-wrap: wrap;
    // margin-top: 60px;
    // margin-left: 10px;
    // margin-right: 10px;
    // height: 350px;
    // width: calc(100% - 20px);
    // overflow-y: scroll;
    // overflow-x: hidden;
}

.emoji-display::-webkit-scrollbar{
    display: none;
}


.emoji {
    scale: 2;
    margin: 8px;
    // height: 30px;
    // width: 30px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}