@import "../library.scss";

.fullscreen {
    @include position($pos: fixed);
    @include d-flex();
    background-color: rgba($color: #000000, $alpha: .2);

}

.emoji-wrapper {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    background-color: rgb(231, 231, 231);
    padding: 5px;
    @extend .border-radius;

    input {
        border: 0;
        padding: 10px;
        outline: none;
        color: black;
        @extend .border-radius;
        margin-bottom: 5px;
    }
}

.emoji-display {
    @include d-flex($jc: flex-start, $g: 7px);
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.emoji-display::-webkit-scrollbar {
    display: none;
}

.emoji {
    scale: 2;
    margin: 8px;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.menu {
    @include d-flex($jc: space-around);
    margin-top: 5px;

    .menu-point {
        background-color: rgb(231, 231, 231);
        padding: 5px;
        @include d-flex();
        @extend .hover;

        &:hover {
            @extend .border-radius;
        }

    }
}

.currentCat {
    background-color: $color3 !important;
    @extend .border-radius;

    img {
        filter: brightness(0%);
    }
}