<div class="card chat-wrapper">
    <div class="chat-messages-wrapper" id="chat-messages-wrapper">

        @if (channelService.currentChannel){
        @if (messageService.filterByChannel(channelService.currentChannel.id).length > 0) {
        @for (message of messageService.filterByChannel(channelService.currentChannel.id); track $index) {
        <app-message [message]="message"></app-message>
        }
        } @else {
        <span class="no-msg-to-display">No messages in this channel</span>
        }
        } @else {
        <span class="no-msg-to-display">Please select a channel to display messages</span>
        }

    </div>

    <app-message-bar></app-message-bar>
</div>