@import '../library.scss';

.chat-wrapper {
    @include d-flex($jc: space-between, $ai: unset, $fd: column);
    @extend .card;
    height: 100%;
    padding-right: 5px;
}

.chat-messages-wrapper {
    @include d-flex($jc: flex-start, $fd: column);
    gap: 5px;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    padding: 5px 5px 25px 0;
}

.no-msg-to-display {
    margin: auto;
    text-align: center;
}

app-grouped-messages {
    width: 100%;
}

app-message-bar,
app-search {
    padding-right: 10px;
}

app-loader {
    height: 100%;
}

.seperator {
    @extend .small-font;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color1);
}

.scroll-button {
    @include d-flex();
    @extend .img-button;
    position: sticky;
    border: 1px solid var(--color5);
    bottom: 0;
    left: 50%;
    transform: translateX(50%);

    img{
        margin: 2px 1px 0 1px;
    }
}