<div class="card chat-wrapper">
    @if (mainService.showNewMessageSearch) {
        <app-search [searchType]="'user-search'" (selectedUsers)="selectUser($event)"></app-search>
        <div class="chat-messages-wrapper" id="chat-messages-wrapper">
            <span class="no-msg-to-display">Choose member to send a message</span>
        </div>
    } @else {
        @if (channelToDisplay) {
            <app-chat-header [currentChat]="channelToDisplay"></app-chat-header>
        }
        <div class="chat-messages-wrapper" #chatWrapper>
            @if (channelToDisplay){
                @if (isThread) {
                    <div>{{threadMessage}}</div>
                }
                @for (groupedMessages of messageService.groupMsgByAuthor(channelToDisplay.id, isThread); track $index) {
                    @if (isSeperator(groupedMessages)) {
                        <div class="seperator">{{createSeperator(groupedMessages)}}</div>
                    } @else {
                        <app-grouped-messages [groupedMessages]="checkGroupedMsg(groupedMessages)"></app-grouped-messages>
                    }
                } @empty {
                    <span class="no-msg-to-display">No messages here</span>
                }
            } @else {
                <span class="no-msg-to-display">Please select a channel to display messages</span>
            }

            <!-- <div class="scroll-button" (click)="channelService.scrollToBottom.emit()" >
                <img src="assets/img/arrow_down.svg" alt="">
            </div> -->
        </div>
    }

    <app-message-bar (messageContent)="channelService.sendMsg($event, isThread)"
        [disabled]="channelToDisplay === undefined"></app-message-bar>
</div>