@import '../library.scss';

.chat-wrapper {
    @include d-flex($jc: space-between, $ai: unset, $fd: column);
    height: 100%;
    padding-right: 5px;
}

.chat-messages-wrapper {
    @include d-flex($jc: flex-start, $fd: column);
    gap: 5px;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    padding: 5px 5px 25px 0;

    .no-msg-to-display {
        position: absolute;
        bottom: 50%;
    }
}

app-grouped-messages {
    width: 100%;
}

app-message-bar {
    
    padding-right: 10px;
}

.seperator {
    @extend .small-font;
    padding: 5px;
    border-radius: 5px;
    background-color: $color1;
}