<div class="popup-wrapper" [class.error]="error"> 
    @if (error) {
        <div class="icon-wrapper">
            <img src="assets/img/close_icon_red.svg" alt="">
        </div>
        <p>Error</p>
        <span>{{ mainService.popupMessage }}</span>
        <button>Continue</button>        
    } @else {
        <div class="icon-wrapper">
            <img src="assets/img/check_icon_green.svg" alt="">
        </div>
        <p>Success</p>
        <span>{{ mainService.popupMessage }}</span>
        <button>Continue</button>        
    }
</div>