:root {
    --color1: #4d426d;
    --color2: #5c4f82;
    --color3: #efa985;
    --color4: #3cc6b7;
    --color5: #FFFFFF;
    --color6: #adadad;
}

:root:has(#purple:checked) {
    --color1: #4d426d;
    --color2: #5c4f82;
    --color3: #efa985;
    --color4: #3cc6b7;
    --color5: #FFFFFF;
    --color6: #adadad;
}

:root:has(#dark:checked) {
    --color1: #173157;
    --color2: #224780;
    --color3: #bd3c5d;
    --color4: #52c2d8;
    --color5: #FFFFFF;
    --color6: #adadad;
}

:root:has(#pink:checked) {
    --color1: #490033;
    --color2: #750052;
    --color3: #f79c3a;
    --color4: #3af79c;
    --color5: #FFFFFF;
    --color6: #adadad;
}

:root:has(#orange:checked) {
    --color1: #fdc92d;
    --color2: #7860cd;
    --color3: #6e9cd3;
    --color4: #70cbad;
    --color5: #060606;
    --color6: #06060652;
}