@import '../library.scss';

.theme-picker {
    height: 40px;
    overflow: hidden;
    padding: 0 !important;
    @include d-flex();
}

.theme-picker fieldset {
    padding: 0 !important;
    border: 0;
    display: flex;
    gap: 15px;

    label {
        padding: 5px;
        @include d-flex();
        border-radius: 50%;
    }
}

.theme-picker input[type="radio"] {
    cursor: pointer;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline-offset: 2px;
    outline: 2px solid var(--radio-color, currentColor);
    background-color: var(--radio-color, currentColor);

    &:checked {
        background-color: var(--radio-color, currentColor);
    }
}

input[type="radio"]#purple {
    --radio-color: #5c4f82; // die hellere hauptfarbe farbe hier
}

input[type="radio"]#dark {
    --radio-color: #224780;
}

input[type="radio"]#pink {
    --radio-color: #750052;
}

input[type="radio"]#bright {
    --radio-color: #f2fafe;
}

input[type="radio"]#green {
    --radio-color: green;
}

.slide-in {
    animation: slide-in .5s forwards;
}

.slide-out {
    animation: slide-out .5s forwards;
}

@keyframes slide-in {
    0% {
        width: 0;
    }

    100% {
        width: 190px;
    }
}

@keyframes slide-out {
    0% {
        width: 190px;
    }

    100% {
        width: 0;
    }
}

.invisible {
    opacity: 0;
}