<div class="theme-picker invisible" #picker [ngClass]="mainService.showThemes ? 'slide-in' : 'slide-out'">
        <fieldset>
                <label for="purple"><input type="radio" [(ngModel)]="mainService.selectedTheme" name="theme" id="purple"
                                value="purple" (ngModelChange)="saveTheme()"></label>

                <label for="dark"><input type="radio" [(ngModel)]="mainService.selectedTheme" name="theme" id="dark"
                                value="dark" (ngModelChange)="saveTheme()"></label>

                <label for="bright"><input type="radio" [(ngModel)]="mainService.selectedTheme" name="theme" id="bright"
                                value="bright" (ngModelChange)="saveTheme()"></label>

                <label for="pink"><input type="radio" [(ngModel)]="mainService.selectedTheme" name="theme" id="pink"
                                value="pink" (ngModelChange)="saveTheme()"></label>

                <label for="brown"><input type="radio" [(ngModel)]="mainService.selectedTheme" name="theme" id="brown"
                                value="brown" (ngModelChange)="saveTheme()"></label>
        </fieldset>
</div>