<div class="wrapper">
    <form class="card" [ngClass]="{'hide': hide}">
        <div class="row"><span class="large-font">FORGOT PASSWORD</span></div>
        <div class="row"><input placeholder="email" type="text"></div>
        <div class="row small-font">
            <button type="button"  (click)="navigateTo('/login')" class="button3">back to login</button>
            <button type="button" (click)="navigateTo('/signup')" class="button3">create account</button>

        </div>
        <div class="row">
            <button class="button1">LOG IN</button>
        </div>

    </form>
</div>
