<div class="msg" [ngClass]="{'my-msg': myMessage}">

    <div class="card message" [class.margin-bottom]="message.reactions.length > 0">
        @if (editState) {
        <app-message-bar (messageContent)="editMessage($event)" [disabled]="false"></app-message-bar>
        } @else {
        <p>{{message!.content}}</p>
        }
        @if (message.reactions.length > 0) {
        <app-reactions [addedReaction]="addedReaction.asObservable()" [msgReactions]="this.message.reactions"
            [myMessage]="myMessage"></app-reactions>
        }

        <div class="reaction">
            <div class="img-wrapper" (click)="addReaction('👍🏼')">
                <img src="assets/img/thumb_up_icon.svg">
            </div>
            <div class="img-wrapper" (click)="addReaction('♥')">
                <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                    <path
                        d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                </svg>
            </div>
            <div class="img-wrapper" (click)="addReaction('🚀')">
                <img src="assets/img/rocket_icon.svg">
            </div>
            <div class="img-wrapper" (click)="openEmojiPicker()">
                <img src="assets/img/add_reaction_icon.svg">
            </div>
            @if (myMessage) {
            <div class="img-wrapper" (click)="editState = !editState">
                <img src="assets/img/edit_document_icon.svg">
            </div>
            <div class="img-wrapper" (click)="messageService.deleteMessage(message)">
                <img src="assets/img/delete_icon.svg">
            </div>
            }
        </div>

        @if (sourceIsChannel()) {
        <div class="quick-thread" [class.show-quick-thread]="thread()" (click)="messageService.openThread(message.id)">
            <img class="quick-thread-img" src="assets/img/reply_icon.svg">
        </div>
        }
    </div>
    @if (message.attachment) {
        <div class="attachment-wrapper card">
            <img src="{{getImage()}}" alt="">
        </div>
    }
</div>

<app-emoji-picker-dialog #picker *ngIf="showEmojiPicker"
    (newEmoji)="addReaction(getCharater($event))"></app-emoji-picker-dialog>