@import '../library.scss';

.msg {
    @include d-flex($jc: flex-start, $g: 10px);
    margin: 2px 0;
    width: 100%;
    // border: 1px solid red;
    position: relative;

    .card {
        background-color: $color1;
        width: fit-content;
        padding: 15px;
        position: relative;
    }

    .reaction {
        opacity: 0;
        border-radius: 25px 25px 0 25px;
        padding: 3px;
        background-color: $color2;
        border: 1px solid $color1;
        position: absolute;
        top: -30px;
        right: 0;
        @include d-flex();

        .img-wrapper {
            @extend .img-button;
            @include d-flex();
            padding: 5px;

            img {
                height: 25px;
                width: 25px;
            }
        }
    }

    &:hover {
        .reaction {
            right: 30px;
            opacity: 1;
            transition: 225ms all;
        }
    }
}

.my-msg {
    flex-direction: row-reverse;

    .card {
        background-color: $color3;
        width: fit-content;
    }

    .reaction {
        border-radius: 25px 25px 25px 0;
        top: -30px;
        left: 0;
        right: unset;

        .img-wrapper {
            @extend .img-button;
            @include d-flex();
            padding: 5px;

            img {
                height: 25px;
                width: 25px;
            }
        }
    }

    .quick-thread-img {
        transform: translate(1px, -1px) rotateY(180deg);
    }

    &:hover {
        .reaction {
            left: 30px;
            right: unset;
            opacity: 1;
            transition: 225ms all;
        }
    }

    .reactions-wrapper {
        right: unset;
        left: 5px;
    }
}

.quick-thread {
    padding: 5px;
    background-color: $color1;
    border-radius: 50%;
    @include d-flex();
    @extend .hover;

    img {
        transform: translate(-1px, -1px);
    }
}

.reactions-wrapper {
    @include d-flex();
    position: absolute;
    bottom: -15px;
    right: 5px;
    background-color: white;
    padding: 2px;
    border-radius: 15px;

    div {
        @include d-flex();

        p {
            color: black !important;
        }
    }
}