<div class="wrapper">
    <form class="card" [ngClass]="{'hide': hide}">
        <div class="row"><span class="large-font">SIGN UP</span></div>
        <div class="row"><input placeholder="username" type="text"></div>
        <div class="row"><input placeholder="email" type="text"></div>
        <div class="row"><input placeholder="password" type="password"></div>
        <div class="row small-font">
            
            <button type="button" (click)="navigateTo('/login')" class="button3">to login</button>

        </div>
        <div class="row">
            <button class="button1">SIGN UP</button>
        </div>

    </form>
</div>
