<div class="card">
    <div class="header">
        <p>Profile</p>
        <img (click)="mainService.closePopups()" src="assets/img/close_icon.svg" alt="">
    </div>
    <div class="img-wrapper">
        <img src="assets/img/profile_placeholder.svg" alt="">        
    </div>

    <div class="details">

        <p>Elijah Degen</p>

        <div class="online-status">
            <div class="online-circle"></div>
            <p>Inactive</p>
        </div>

        <div class="email-adress">
            <div class="upper">
                <img src="assets/img/mail_icon.svg" alt="">
                <p>E-Mail Adress</p>
            </div>
            <a href="mailto:elijah@mail.com" class="e-mail">
                elijah&#64;mail.com                
            </a>
        </div>
    </div>
</div>