@import "../library.scss";

.search-wrapper {
    position: relative;

    .input {
        height: 40px;
        padding: 10px;
        background-color: $color2;
        border: 0;
        outline: 0;
        background-repeat: no-repeat;
        background-image: url('../../../src/assets/img/search_icon.svg');
        background-position: 96%;
    }
}