<div class="search-wrapper" (click)="stopProp($event)">
    <input (input)="showResults = true" placeholder="{{ placeholder }}" class="input"
        [class.dark-input]="searchType === 'user-search'" type="text" (keyup)="triggerSearch()"
        [(ngModel)]="searchValue">

    <div *ngIf="searchValue.trim() && showResults" class="search-result card">
        <p class="seperator">Users</p>
        @if (searchType === 'search') {
        @for (user of searchSolution.users; track $index) {
        <div class=" preview">
            <div class="online-wrapper">
                <img src="{{channelService.getImg(user.picture)}}">
                <div [ngClass]="user.is_online ? 'online' : 'offline'"></div>
            </div>
            <p>{{user.username}}</p>
        </div>
        }

        <p class="seperator">Channels</p>
        @for (channel of searchSolution.channels; track $index) {
        <div class=" preview">
            <img src="{{channelService.getImg(channel.picture)}}">
            <p>{{channel.name}}</p>
        </div>
        }

        <p class="seperator">Messages</p>
        @for (message of searchSolution.messages; track $index) {
        <div class=" message preview">

            <div class="online-wrapper">
                <img src="{{this.userService.getUser(message.author).picture}}">
                <div [ngClass]="this.userService.getUser(message.author).is_online ? 'online' : 'offline'"></div>
            </div>

            <div class="details">
                <p class="author">{{this.userService.getUser(message.author).username}}</p>
                <p>{{message.content}}</p>
                <p *ngIf="isChannel(message)" class="source">in channel:
                    {{channelService.getChannel(message.source).name}}</p>
            </div>
        </div>
        }
        @for (thread of searchSolution.threads; track $index) {
        <div class=" message preview">

            <div class="online-wrapper">
                <img src="{{this.userService.getUser(thread.author).picture}}">
                <div [ngClass]="this.userService.getUser(thread.author).is_online ? 'online' : 'offline'"></div>
            </div>

            <div class="details">
                <p class="author">{{this.userService.getUser(thread.author).username}}</p>
                <p>{{thread.content}}</p>
                <p class="source">in thread: {{messageService.getMessage(thread.source).content}}</p>
            </div>
        </div>
        }
        } @else {
        @for (user of searchSolutionUser.users; track $index) {
        <div class="preview" (click)="selectUser(user, $event)" [class.selected-user]="alreadySelected(user.id)">
            <div class="online-wrapper">
                <img src="{{channelService.getImg(user.picture)}}">
                <div [ngClass]="user.is_online ? 'online' : 'offline'"></div>
            </div>
            <p>{{user.username}}</p>
        </div>
        }
        }
    </div>
</div>