<div class="msg-preview card"
    [ngClass]="{'currentChannel': channelService.currentChannel && channel.id === channelService.currentChannel.id}">
    <img src="{{channel.picture || 'assets/img/profile_placeholder.svg'}}" alt="">
    <div class="text-wrapper">
        <div class="upper-text">
            <span class="name">{{channel.name}}</span>
            <div class="time">{{ getLatestMsg().created_at| date:"HH:mm"}}</div>
        </div>
        <span class="msg">{{getPreview()}}</span>
    </div>
</div>