<div class="msg-preview card"
    [ngClass]="{'currentChannel': channelService.currentChannel && channel.id === channelService.currentChannel.id}"
    [class.unread]="!channel.read_by.includes(authService.currentUser.id)">
    <div class="online-wrapper">
        <img src="{{ channelService.getImg(channel.picture) }}" alt="">
        @if (channel.is_channel === false) {
        <div [ngClass]="userService.isOnline(channel) ? 'online': 'offline'"></div>
        }
    </div>
    <div class="text-wrapper">
        <div class="upper-text">
            <p class="name">{{channel.name}}</p>
            <p class="time">{{ getLatestMsg().created_at| date:"HH:mm"}}</p>
        </div>
        <p class="msg">{{getPreview()}}</p>
    </div>
</div>