@import '../library.scss';

.header {
    @include center($jc: space-between);
    padding-bottom: 15px;

    .card {
        padding: 10px;
    }
}

.left-side {
    @include d-flex($g: 15px);

    .close-side-menu {
        @include d-flex();
        @extend .hover;
    }
}

.search {

    input {
        background-color: transparent;
        border: 0;
        outline: 0;
    }
}

.chat-name {
    @extend .hover;
}

.home-wrapper {
    display: flex;
    gap: 15px;
    height: calc(100% - 56px);
}

app-chat-window {
    width: 100%;
}

.popup-menu {
    background-color: $color2;
    @extend .border-radius;
    padding: 0 5px;
    position: absolute;
    right: 25px;
    top: 45px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 99;
    @include d-flex($fd: column, $ai: center, $g: 5px);
    overflow: hidden;

    .option {
        padding: 10px;
        background-color: $color2;
        border-radius: 10px;
        @extend .hover;
    }
}

.side-menu-open {
    animation: panel-open .5s forwards;
}

.side-menu-close {
    animation: panel-close .5s forwards;
}

@keyframes panel-open {
    0% {
        transform: translateX(-110%);
        margin-right: -415px;
        // transform: translateX(-100%);
        // margin-right: -400px;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes panel-close {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-110%);
        margin-right: -415px;
        // transform: translateX(-100%);
        // margin-right: -400px;
    }
}

.menu-open {
    animation: expand .5s forwards;
}

.menu-close {
    animation: shrink .5s forwards;
}

@keyframes expand {
    0% {
        height: 0px;
    }

    100% {
        height: 95px;
    }
}

@keyframes shrink {
    0% {
        height: 95px;
    }

    100% {
        height: 0;
    }
}