<div class="wrapper">
    <div class="header">
        <div class="card search">
            <input type="text">Search
        </div>

        <div class="card chat-name">
            Max Mustermann
        </div>

    </div>
    <div class="home-wrapper">
        <div class="side-menu">
            <div class="card">
                <p>Messages</p>

                <!-- platzhalter für den dm array -->
                @for (channel of this.channelService.channels; track $index) {
                <app-channel-preview [channel]="channel"></app-channel-preview>
                }

            </div>
            <div class="card">
                <p>Channels</p>

                @for (channel of this.channelService.channels; track $index) {
                <app-channel-preview [channel]="channel"></app-channel-preview>
                }

            </div>
        </div>

        <div class="card chat-wrapper">
            <div class="chat-messages-wrapper">

                @for (message of messageService.filterByChannel(20); track $index) {
                <app-message [message]="message"></app-message>
                }

            </div>

            <!-- eigener component? -->
            <div class="input-wrapper">
                <div class="msg-input">
                    <input type="text">
                </div>
                <div class="sendbutton"></div>
            </div>
            <!-- bis hier -->
        </div>
    </div>

</div>