@import '../library.scss';

.header {
    @include center($jc: space-between);
    padding-bottom: 15px;

    .card {
        padding: 10px;
    }
}

.search {

    input {
        background-color: transparent;
        border: 0;
        outline: 0;
    }
}

.home-wrapper {
    display: flex;
    gap: 15px;
    height: calc(100% - 56px);
}

app-chat-window {
    width: 100%;
}