<div class="wrapper">

    <app-header></app-header>

    <div class="home-wrapper">
        <app-side-menu [ngClass]="mainService.sideMenuOpen ? 'side-menu-open': 'side-menu-close'"></app-side-menu>
        <app-chat-window class="main-chat" [isThread]="false" [channelToDisplay]="channelService.currentChannel"></app-chat-window>
        <app-chat-window class="thread" [isThread]="true" [channelToDisplay]="messageService.currentThread" [ngClass]="messageService.threadOpen ? 'thread-open': 'thread-close'"></app-chat-window>
    </div>
</div>