
<div class="side-menu">
    <div class="card">
        <div class="section-header">
            <p>Messages</p>
            <img src="assets/img/plus_icon.svg" alt="">
        </div>

        <!-- platzhalter für den dm array -->
        @for (channel of this.channelService.directMessages; track $index) {
        <app-channel-preview (click)="channelService.openChannel(channel.id)"
            [channel]="channel"></app-channel-preview>
        }

    </div>
    <div class="card">
        <div class="section-header">
            <p>Channels</p>
            <img (click)="newChannelDialog()" src="assets/img/plus_icon.svg" alt="">
        </div>
        @for (channel of this.channelService.channels; track $index) {
        <app-channel-preview (click)="channelService.openChannel(channel.id)"
            [channel]="channel"></app-channel-preview>
        }

    </div>
</div>