@import '../library.scss';

.header-wrapper {
    @include d-flex($jc: space-between);
    padding-right: 10px;
    min-height: 50px;
}

.chat-name-wrapper {
    @include d-flex($g: 25px);

    img {
        height: 50px;
        width: 50px;
    }
}

.group-members-wrapper {
    @include d-flex($g: 25px);

    .group-members {
        @include d-flex($g: 20px);
        @extend .hover;
        background-color: $color1;
        padding: 5px 15px 5px 5px;
        border-radius: 22px;
        
        .member-pics {
            @include d-flex();
            img{
                height: 35px;
                margin-right: -10px
            }
        }
    }

    .add-member {
        background-color: $color1;
        @extend .img-button;
        @include d-flex;
        padding: 7px;

        img {
            height: 30px;
        }
    }
}

.close-thread {
    @include d-flex();
    @extend .img-button;
}