@if (currentChat) {
<div class="header-wrapper">
    <div class="chat-name-wrapper" (click)="openChannelDetails()">
        @if (!isMessage()) {
        <div class="online-wrapper">
            <img src="{{ getPicture() }}">
            @if (!isChannel()) {
            <div [ngClass]="isOnline() ? 'online' : 'offline'"></div>
            }
        </div>
        }
        <p>{{getName()}}</p>
    </div>

    <div class="group-members-wrapper" *ngIf="isChannel()">

        <div class="group-members" (click)="showMemberDialog()">
            <div class="member-pics">
                <img src="{{member}}" *ngFor="let member of userImgArray">
            </div>
            <div class="member-count" *ngIf="groupMemberCount > 0">
                +{{groupMemberCount}}
            </div>
        </div>

        <div class="add-member" (click)="addMemberDialog()">
            <img src="assets/img/add_member_icon.svg">
        </div>
    </div>

    <div class="close-thread" *ngIf="isMessage()" (click)="closeThread()">
        <img src="assets/img/close_icon.svg">
    </div>
</div>
}