<div class="header-wrapper">
    <div class="chat-name-wrapper">
        <img src="{{getPicture()}}" *ngIf="isChannel()">
        <p>{{getName()}}</p>
    </div>

    <div class="group-members-wrapper" *ngIf="isChannel()">

        <div class="group-members" (click)="showMemberDialog()">
            <div class="member-pics">
                    <img src="{{member}}" *ngFor="let member of renderGroupMember()">
            </div>
            <div class="member-count" *ngIf="groupMemberCount > 0">
                +{{groupMemberCount}}
            </div>
        </div>

        <div class="add-member" (click)="addMemberDialog()">
            <img src="assets/img/add_member_icon.svg">
        </div>
    </div>

    <div class="close-thread" *ngIf="isThread()" (click)="closeThread()">
        <img src="assets/img/close_icon.svg">
    </div>
</div>